<div id="like_form">
  <% if current_user.like? post %>
    <%= render "likes/unlike", post: post,
      like: current_user.likes.find_by(post_id: post.id)%>
  <% else %>
    <%= render "likes/like", post: post %>
  <% end %>
  <span class="btn btn-default disabled">
    <%= post.likes.count %>
  </span>
</div>
