<div class="container">
  <div class="row">
    <%= form_for resource, as: resource_name,
      url: password_path(resource_name),
      html: {method: :post, class:"form-signin mg-btm"} do |f| %>
      <h3 class="heading-desc">
        <button type="button" class="close pull-right" aria-hidden="true">×</button>
      </h3>
      <%= devise_error_messages! %>

      <div class="main">
       <%= f.email_field :email, class: "form-control", type: "text",
         placeholder: t("auth.email"), autofocus: true %>
       <span class="clearfix"></span>
      </div>

      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
