<div class="stats">
  <% [:following, :followers].each do |relationship| %>
    <div class="col-md-3">
      <div id="<%= relationship %>">
        <%= @user.send(relationship).size %>
      </div>
      <%= link_to relationship, user_relationships_path(@user, type: relationship) %>
    </div>
  <% end %>
</div>
