@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

$gray-medium-light: #eaeaea;
$red: #f00;
$blue: #00f;
$b: #bbb;

@mixin box-sizing {
  box-sizing: border-box;
}

.debug-dump {
  @include box-sizing;
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $gray-light;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;

  a {
    color: $gray;

    margin-top: 45px;
    padding-top: 5px;

    &:hover {
      color: $gray-darker;
    }
}

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

aside {
  section {
    margin-top: 20px;
    padding: 10px 0;

    .user-info {
      margin-top: 20px;
    }

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
      text-align: left;
    }
  }

  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.stats {
  margin-top: 0;
  overflow: auto;
  padding: 0;

  a {
    border-left: 1px solid $gray-lighter;
    color: $gray;
    float: left;
    padding: 0 10px;

    &:first-child {
      border: 0;
      padding-left: 0;
    }

    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }

  strong {
    display: block;
  }
}

input,
textarea,
select,
.uneditable-input {
  @include box-sizing;
  border: 1px solid $b;
  margin-bottom: 15px;
  width: 100%;
}

.error-explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.field-with-errors {

  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-bottom: 10px;
  margin-top: -10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

.session-remember-me {
  margin-left: 0;
  width: auto;
}

.users {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }

  .users.follow {
    padding: 0;
  }
}

.comment {
  border-bottom: 1px solid $gray-lighter;
  padding: 12px 0;
}

.show-comment {
  margin-bottom: 100px;
}

.comment-form {
  margin-top: 15px;
}

.timestamp {
  color: $gray-light;
  display: block;
  font-size: 12px;
}
