$silver: #f7f7f7;
$grey: #888;
$ccc: #ccc;
$f0: #f0f0f0;
$da: #dadada;
$a8: #8a8a8a;

form {
  margin: auto;
}

.row {
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.main {
  padding: 38px;
}

.social-box {
  border-bottom: 1px $ccc solid;
  margin: 0 auto;
  padding: 38px;

  a {
    font-size: 18px;
    font-weight: bold;
    padding: 8px;

    i {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.heading-desc {
  font-size: 20px;
  font-weight: bold;
  padding: 38px 38px 0;
}

.form-signin {
  background-color: $silver;
  border-radius: 2px;
  box-shadow: 0 0 3px 3px $grey;
  display: block;
  max-width: 400px;

  .form-signin-heading,
  .checkbox {
    margin-bottom: 10px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: 20px;
    padding: 20px;
    position: relative;

    &:focus {
      z-index: 2;
    }
  }

  [type="text"] input {
    border-radius: 5px;
    margin-bottom: 10px;
  }

  [type="password"] input {
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

.login-footer {
  background: $f0;
  border-top: 1px solid $da;
  margin: 0 auto;
  padding: 20px;

  .left-section a {
    color: $a8;
    font-weight: bold;
    line-height: 19px;
  }
}

.mg-btm {
  margin-bottom: 20px;
}
